@using Factory.Models;

<h1>Welcome Dr. SillyStringz</h1>

<hr>

<h4>Engineers</h4>

<p>@Html.ActionLink("Engineer List", "Index", "Engineers")</p>

<h4>Machines</h4>

<p>@Html.ActionLink("Machine List", "Index", "Machines")</p>